<?xml version="1.0"?>
<model>
    <name>vessel_v2</name>
    <version>1.0</version>
    <sdf version="1.9">vessel_v2.sdf</sdf>

    <author>
    <name>Gianmaria Caprioli</name>
    <email>gcaprioli1@us.es</email>
    </author>

    <description>Un parallelepipedo base per testare l'idrodinamica.</description>

</model>